.container {
  max-width: 600px;
  margin: 30px auto;
}

.go-back-btn {
  background: none;
  display: block;
  border: none;
  background-color: var(--mid-grey);
  padding: 15px;
  color: white;
  border-radius: var(--main-border-radius);
  margin: 100px auto;
}

.main {
  .top-main {
    h1 {
      font-size: 1.3rem;
      margin: 10px;
      color: var(--main-grey);
      font-weight: normal;
    }
    p {
      margin: 10px;
      color: var(--mid-grey);
    }
  }
}

.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
