.buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: max-content;
  max-width: 600px;
  a {
    padding: 7px 12px;
    background-color: var(--very-light-grey);
    color: var(--mid-grey);
    font-size: 0.9rem;
    border-radius: var(--main-border-radius);
    &:not(:first-child) {
      margin-left: 10px;
    }
    &:hover,
    &.active-page {
      background-color: var(--mid-grey);
      color: white;
    }
  }
}
